*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* special bootstrap style  starts */
.bg-purple{
    background-color: rgb(95,87,154);
}
.header-ui-margin{
    margin-left: 35rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.padding-start{
    padding-left: 8rem;
}
.nav-background{
    background-image: linear-gradient(to bottom, rgb(74,68,116), rgb(103,93,168));


}





/* special bootstrap style ends  */
body{
    background-color: rgb(95,87,154);
    width: 100%;
    height: auto;
}

header{
height: 10vh;
/* padding: 8px; */

}

main{
  
}

.maincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Assets/Images/LadyHero.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    /* border: yellow 2px solid; */
}
.maincontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    height: 70vh;
    background-color: rgb(95, 87, 154);

    /* border: yellow 2px solid; */
}
.heroimage{
    width: 45%;
    height: 70vh;
    /* border: yellow 2px solid; */


}
.heroimage img{

    height: 70vh;
    width: 75%;
    border-radius: 15px;
}
.herotext{
    background-color: rgba(95, 87, 154, 0.699);
    margin: 135px 50px 50px 600px;
    /* padding: 40px 50px; */
    width: 45%;
    height: 55vh;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: yellow 2px solid; */


}
.herotext2{
    background-color: rgba(95, 87, 154, 0.699);
    /* margin: 135px 50px 50px 600px; */
    /* padding: 40px 50px; */
    width: 55%;
    height: 70vh;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: yellow 2px solid; */
    padding-right: 8rem;


}
.getthrilled{
    color: rgb(30,215,96);
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 75px;
    letter-spacing: 1px;

}
.getthrilled2{
    color: rgb(30,215,96);
    font-family: "Anton", sans-serif;
    font-weight: 500;

    font-style: normal;
    font-size: 75px;
    line-height: 2rem;
    letter-spacing: 1px;

    margin-left: 25px;
}
.thousands{
    color: rgb(30,215,96);
    font-stretch: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 1rem 0 1rem 0;
    /* margin-left: 60px; */
}

.btnthrilled{
    color: rgb(42,154,168);
    font-stretch: 100%;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    /* margin-left: 140px; */
    /* text-align: center; */
    background-color: rgb(30,215,96);
}

/* footer style start */
footer{
    /* background-color: rgb(95,87,154); */
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* margin-left: 12rem; */
    height: 10vh;
    /* color: rgb(74,68,116); linear start  */
    /* rgb(103,93,168) linear end  */
    /* border: 2px solid red; */


}

.homefooter{
    color: white;
}

/* sign up style starts */
/* .signupcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height:100vh;
    margin-top: 12rem;
    padding-top: 5rem;
} */

.signuplogo{
    width: 100px;
    margin: auto;
}

.signuptext{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    /* margin: 15rem 0 0 0 ; */
}
.signuptexttext {
    width: 100%;
    height: 80vh;
    padding: 3rem;

    color: rgb(30,215,96);
    font-stretch: 100%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;



}
.p1{
    /* background-color: red; */
    /* text-align: center; */
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 45px;

}
.p2{
    /* background-color: red; */
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 45px;

}
.p3{
    /* background-color: red; */
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 45px;
}
.signupimage{
    width: 45%;
    height: 55rem;
    padding: 3rem 1rem 2rem 1rem;
    border-radius: 50px 50px 0 0;
    border-width: 2px 5px 0 2px;
    border-color: rgb(30,215,96);
    border-style: solid;
    margin-top: 4rem;
    /* border: 3px solid rgb(30,215,96); */
}
label{
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-left: 2rem;
}

/* #email{
    border-radius: 5px;
    width: 75%;
    height: 40px;
    border: 1px ridge rgb(61, 58, 58);
    background-color: rgba(245, 222, 179, 0);
    color: whitesmoke;
} */
.email{
    border-radius: 5px;
    width: 90%;
    height: 50px;
    margin-left: 1.5rem;
    border: 1px ridge rgb(61, 58, 58);
    background-color: rgba(245, 222, 179, 0);
    color: whitesmoke;
}
.usephone{
    color: rgb(30,215,96);
    padding: 1rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;


}
.btnnext{
    border-radius: 25px;
    margin: 0.5rem 0 0 1.5rem;
    width: 90%;
    height: 55px;
    border: none;
    background-color: rgb(30,215,96);
    /* color: rgb(112,107,107); */
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

    .hr-container {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }
    .hr-container hr {
        flex: 1;
        border: none;
        border-top: 1px solid #faf5f5;
        margin: 0 10px;
    }
    .hr-container span {
        padding: 0 10px;
        font-weight: bold;
        color: white;
    }

.remember{
    margin-left: 2rem;
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}
.btnsocialsign{
    border-radius: 50px;
    margin: 1.5rem 1rem 0 1rem;
    width: 90%;
    height: 55px;
    border: 1px solid rgb(68, 66, 66);
    background-color: rgba(245, 245, 245, 0);
    color: whitesmoke;
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 0 0 0 1rem;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    

}
.btnsocialsign img{
    width: 20px;
    height: 20px;
}
.already{
    color:rgb(30,215,96);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 2rem;
    

}
.alreadyspan{
    color:rgb(30,215,96);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /* padding: 1rem; */
    

}
/* sign up style ends  */

/* fonts starts */


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  
/* fonts ends  */

/* media query starts  */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media  screen and (max-width: 720px) {

.middlenav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.maincontainer2{
    flex-direction:column-reverse;
    width: 100%;
    height: 100vh;
    margin: 15rem 0 0 5rem;
}
.heroimage{
    width: 90%;
    height: 100vh;
    margin-top: 5rem;
    /* border: yellow 2px solid; */


}
.heroimage img{

    height: 100vh;
    width: 90%;
    border-radius: 15px;
}
footer{
    /* background-color: rgb(95,87,154);
    color: white;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-left: 12rem;
    height: 10vh; */
    /* display: none; */


}
/* header{
    height: 6vh;
    /* padding: 8px; */
    
    } */
.header-ui-margin{
    margin-left: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.padding-start{
    padding-left: 8.5rem;
}
.signupcontainer{
    /* flex-direction: column; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 0;
    height:70vh;
    margin-top: 8rem;
    padding-top: 8rem; */
}
/* .signuptexttext {
    width: 100%;
    height: 90vh;
    padding: 3rem;

    color: rgb(30,215,96);
    font-stretch: 100%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
.signupimage{
    width: 90%;
    margin-top: 0;
    height: 53rem;
    padding: 03rem 0rem 0rem 0rem;
}
.btnsocialsign{
    padding: 0 0 0 0rem;
    font-weight: 400;
    font-size: 12px;
    gap: 0rem;

}
.padding-start{
    padding-left: 1rem;
}
.signuptext{
 
    /* margin: 40rem 0 0 0 ; */
}
.herotext{
    margin: 20px 50px 50px 100px;
    width: 80%;
    height: 70vh;
}
.getthrilled,.getthrilled2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    letter-spacing: 1px;

}
}



/* media query ends  */