*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
}

.bodycontainer{
    display: flex;
}
.homebody{
    background-color: rgb(118,106,192);
    width: 85%;
    padding: 4rem;

}
.homehead{
    display: flex;
    justify-content: space-between;
}
.discover{
    display: flex;
}
.discovertext{
    color: rgb(30,215,96);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.recent{
    color: white;
    font-size: 12px;
}
.profile{
    display: flex;
    align-items:center;
}
.profile-image-name{
    color: white;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    padding: 10px;


}
.profile-image img{
    width: 90px;
    border-radius: 5px;
}
.chart50{
    width: 105%;
    height: auto;
    background-color: white;
    margin: 2rem 0;
    border-radius: 25px;
    padding: 1rem 2rem;
    color: rgb(30,215,96);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 22px;
    box-shadow: 3px 3px 3px rgba(30, 215, 95, 0.37);
    flex-wrap: wrap;
    /* border: 5px solid yellow; */
    

}
.chart50-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-music-chart{
    display: flex;
    gap: 0.5rem;
}
.musicchart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 10rem;
    /* width: 150px;
    height: 170px; */
    border: 2px solid rgba(30, 215, 95, 0.61);
    border-radius: 20px;
    cursor: url('Assets/Images/play.png'), auto;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
 

}
.musicchart:hover{

    transform: scale(1.2);
    /* border: none; */
    /* border: 2px solid rgba(30, 215, 95, 0.61); */


}
.musicchart a{
   
    cursor: url('Assets/Images/play.png') 16 16, auto;
    

}
.musicchart-image img{
    width: 110px;
    height: 80px;
    border-radius: 20px;
    margin: 1rem 1rem 0;
    box-shadow: 5px 5px 5px grey;

}
.musicchart-title{
    color: rgb(30,215,96);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px; 
    margin: 0 0.9rem;
    text-align: center;
}
.musicchart-name{
    color: rgb(133,132,132);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px; 
    margin: 0 0.9rem;
    text-align: center;
}

.nowplaying-image{
    width: 40%;
    height: 45vh;
    background-color:  rgba(180, 171, 171, 0.623);
    border-radius: 25px;
    /* cursor: url('Assets/Images/play.png'), auto; */

}

.nowplaying-image img{
    width: 95%;
    height: 25vh;
    margin: 7px 0 0 7px;
    border-radius: 40px;
}
.nowplaying-image2{
    width: 100%;
    height: 45vh;
    background-color:  rgba(180, 171, 171, 0.623);
    border-radius: 25px;

}
.nowplaying-image2 img{
    width: 95%;
    height: auto;
    margin: 7px 0 0 7px;
    border-radius: 40px;
}
.history-nowplaying{
    display: flex;
    /* justify-content: space-between; */
    gap: 1.5rem;
    flex-wrap: wrap;
}


.card-title-again{
    background-color:  rgba(180, 171, 171, 0.623);
    border-radius: 2rem;

}
.main-house{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.history{
    display: flex;
    width: 50%;
    height: auto;
    background-color:  rgba(180, 171, 171, 0.623);
    border-radius: 25px;  
    padding: 2rem 2rem;
    border-radius: 20px;
    flex-wrap: wrap;
    /* border: 5px solid rgb(60, 20, 204); */

}
.left{
    display: flex;
    align-items: center;
    /* border: 5px solid yellow; */
    width: 50%;
    height: auto;
}
.left-title{
    display: flex;
    flex-direction: column;
}
.his{
    color: rgb(30,215,96);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px; 


}
.history-song{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 15px;
    /* margin: 1rem 0.5rem; */
    /* position: relative; */
    box-shadow: 5px 5px 5px grey;
    flex-wrap: wrap;
    /* border: 5px solid rgb(11, 184, 40); */



}
.song-title p{
    color: rgb(15, 15, 15);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;   
    /* margin: 0.5rem 0; */
}
.song-artist p{
    color: rgb(133,132,132);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 10px; 
    /* padding: 5px; */
    margin:-1rem 0 ;
}
.review{
    display: flex;
    width: 50%;
    height: auto;
    /* border: 5px solid yellow; */
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    /* position: absolute; */
    /* left: 65%; */
    /* bottom: 0rem; */
    /* left: 65%; */
    /* transform: translate(-50%, -50%); */
}
.comment,.like{
    border-radius: 50%;
    background-color: whitesmoke;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px grey;
  
}
.rate{
    box-shadow: 5px 5px 5px grey;
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2rem;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
}
.rate-value{
    color: rgb(15, 15, 15); 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 11px;
}
.song-image img{
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
    padding: 0.5rem;
}
.song{
    color: rgb(69,62,102);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.artist-name{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: -1rem 0;

}

.control-icon{
    height:10vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.control-icon img{
    width: 8%;
}
.now-playing-mix{
    position: relative;
    bottom: 30%;
    text-align: center;
}
/* .control-btn{ */
    /* background-color: rgba(255, 255, 255, 0); */
    /* border: none; */
    /* width: 100%;
    height: 100%; */
/* } */
.control-btn img{
    width: 50%;
}
.control-btn {
    background-color: #4caf4f00; /* Green */
    border: none;
     width: 40%;
    height: 40%;
    text-align: center;

    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

}
.control-btn:hover {
    background-color: rgba(255, 255, 255, 0.514);
    width: 40%;
    height: 40%;

}
.control-btn-2nd{
    background-color: #4caf4f00; /* Green */
    border: none; 
     width: 10%;
    height: 10%;
    text-align: center;
       cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

}

.control-btn-2nd:hover {
    background-color: rgba(255, 255, 255, 0.514);
    width: 10%;
    height: 10%;

}

.track-list{
    display: flex;
    border-radius: 25px;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.514);
    height: auto;


}
.centered-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .control-btn i { */
    /* pointer-events: none; Prevent clicks on the icon itself */
/* } */


.sidebar{
    background-color: rgb(69,62,102);
    width: 18%;
    border-radius: 5px;
    /* display: flex; */
}
.icon-name{
    display: flex;
    margin-top: 3rem;
}
.sideicon img{
    width: 55px;
    /* padding: 1rem 0.5rem 0 1.5rem; */
    margin: 1rem 0.5rem 0 1.5rem;
}
.sideiconname{
    width: 55px;
    padding: 1.5rem 0.5rem 0 0;
    font-size: 25px;
    color: rgb(30,215,96);
    font-family: "Anton", sans-serif;
    font-weight: 900;



}
.menu{
    color: rgb(255,255,255);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    width: 100px;
    margin: 2rem ;
}
.general{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    width: 100px;
    margin: 2rem ;
}
.menu-items{
    display: flex;
    /* justify-content: center; */
    padding: 0.5rem;
    align-items: center;
    gap: 6px;
}
.menu-icon img{
    /* padding: 1rem 0rem 0 0; */
    width: 25px;
    /* background-color: red; */
    
}
.menu-name{
    color: white;
    font-family: "Poppins", sans-serif;
    /* margin: 0.3rem 0 0 0; */
    width: 70%;
    font-weight: 300;
    font-size: 14px;
   
    /* background-color: yellow; */


}
.sidebar a{
    text-decoration: none;
    color: white;
}
.sidebar a:hover{
    color: rgb(30,215,96);
}

.sidebar a:active{
    color: rgb(30,215,96);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-right-color: rgb(30,215,96);
    border-right-style: solid;
    border-right-width: 5px;

    /* margin: 0.3rem 0 0 0; */
    width: 70%;
   
    /* background-color: yellow; */


}
.menu-namesub{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;


    /* margin: 0.3rem 0 0 0; */
    width: 65%;
   
    /* background-color: yellow; */
}
.new{
    background-color: rgb(133,132,132);
    color: white;
    border-radius: 20px;
    border: none;
    width: 20px;
    height: 15px;
    font-size: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.appstore{
    color: rgb(133,132,132);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    width: 5rem;
    margin: 2rem ;
}
.iconappstore{
    width: 100%;
}
.iconappstore img{
    margin: 1.5rem 2rem;
    width: 60%;
}
.legal{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    color:rgb(133,132,132) ;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 7px;

}
.homefooter{
    background-color: rgb(69,62,102);
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 2rem 0 0 0;

}
.f-item p{
    color:rgb(133,132,132) ;
    font-weight: 300;
    font-size: 10px;
    margin: 8px 0 0;
}
.f-item h4{
    color:white;
    font-weight: 500;
    font-size: 14px;
    margin: 8px 0 0;
}

.f-logo{
    display: flex;
    width: 10rem;
    gap: 5px;
}
.f-icon img{
    width: 45px;
    
}
.f-iconname{
    width: 45px;
    font-size: 30px;
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 900;
}
.f-social{
    display: flex;
    gap: 1rem;
    filter: grayscale(100);
}
.f-social img{
    border: 7px solid rgb(36, 35, 35);
    border-radius: 50%;
    width: 40px;
}

.navedit{
    display: none;
}

/* media query starts  */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media  screen and (max-width: 720px) {

    .sidebar{
        display:none;
    }
    .navedit{
        display: block;
    }

    .bodycontainer{
        flex-direction: column;
    }
    .middlenav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        border-radius: 30px;
        background-color: rgb(69,62,102);
        
    }
    .chart50-head{
        
        flex-direction: column;
    }
    .all-music-chart{
        flex-direction: column;
        gap: 0.5rem;
    }
    .musicchart{
        width: 100%;
        height: auto;
        border: 2px solid rgba(30, 215, 95, 0.61);
        border-radius: 20px;
    }
    body{
        width: 100%;
        height: auto;
    }
    .sidebar{
        width: 40%;
    }
    .homebody{
        width: 100%;
        /* height: 100vh; */
    
    }
    .homefooter{
        height: auto;
        flex-direction: column;
        text-align: center;
        width: 100%;
    
    }
    .f-logo{
        display: none;;
 
    }
    .f-icon img{
        width: 45px;
        
    }
    .f-iconname{
        width: 45px;
        font-size: 30px;
        color: white;
        font-family: "Anton", sans-serif;
        font-weight: 400;
    }
    .f-social{
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
    }
    .f-social img{
        border: 7px solid rgb(36, 35, 35);
        border-radius: 50%;
        width: 40px;
    }
    .history-nowplaying{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .history-song{
        flex-direction: column;
        /* position: none;
        left: 0;
        bottom: 0; */
        gap: 2rem;
        width: 100%;
        height: auto;
    }
  
    .history{
        width: 100%;
        height: auto;

    }
    .profile{
        flex-direction: column;
    }



    /* .history{
        display: flex;
        width: 50%;
        height: auto;
        background-color:  rgba(180, 171, 171, 0.623);
        border-radius: 25px;  
        padding: 2rem 2rem;
        border-radius: 20px;
        flex-wrap: wrap;
        border: 5px solid rgb(60, 20, 204);
    
    } */
    .left{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    /* .left-title{
        display: flex;
        flex-direction: column;
    } */
    /* .his{
        color: rgb(30,215,96);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 13px; 
    
    
    } */
    .history-song{
        /* display: flex; */
        /* align-items: center; */
        flex-direction: column;
        /* justify-content: space-between; */
        height: 9rem;
        width: 100%;
        /* background-color: whitesmoke; */
        /* border-radius: 15px; */
        /* margin: 1rem 0.5rem; */
        /* position: relative; */
        /* box-shadow: 5px 5px 5px grey; */
        /* flex-wrap: wrap; */
        /* border: 5px solid rgb(11, 184, 40); */
    
    
    
    }
    /* .song-title p{
        color: rgb(15, 15, 15);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 13px;    */
        /* margin: 0.5rem 0; */
    /* } */
    /* .song-artist p{
        color: rgb(133,132,132);
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 10px;  */
        /* padding: 5px; */
        /* margin:-1rem 0 ; */
    /* } */
    .review{
        /* display: flex; */
        width: 50%;
        height: auto;
        /* border: 5px solid yellow; */
        /* align-items: center; */
        /* justify-content: end; */
        /* gap: 0.5rem; */
        /* position: absolute; */
        /* left: 65%; */
        /* bottom: 0rem; */
        /* left: 65%; */
        /* transform: translate(-50%, -50%); */
    }
    /* .comment,.like{
        border-radius: 50%;
        background-color: whitesmoke;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 5px grey;
      
    }
    .rate{
        box-shadow: 5px 5px 5px grey;
        display: flex;
        align-items: center;
        width: 4rem;
        height: 2rem;
        border-radius: 40px;
        text-align: center;
        justify-content: center;
    }
    .rate-value{
        color: rgb(15, 15, 15); 
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 11px;
    } */
    .nowplaying-image2{
        height: auto;
        margin: 0 0 1rem 0;
    
    
    }
    .musicchart-image img{
        width: 90%;
        height: 12rem;
        flex-wrap: wrap;
        /* margin: 1rem 1rem; */
        border-radius: 2rem;
        padding: 1rem 1rem;
    
    }
    .nowplaying-image2 img{
        height: auto;
     
    }
   
}


